body {
  font-family: Figtree, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
}
.container {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 8px 8px 0px black;
  
}
.illustration {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.learning {
  width: 90px;
  height: 25px;
  background-color: hsl(47, 88%, 63%);
  text-align: center;
  padding-top: 5px;
  border-radius: 4px;
  font-weight: 800;
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.publish-date {
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}

h2 {
  font-weight: 950;
  color: hsl(0, 0%, 7%);
  margin-top: 13px;
  margin-bottom: 12px;
}

h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.content {
  font-size: 15px;
  font-weight: 500;
  color: hsl(0, 0%, 42%);
  line-height: 1.4;
}

.avatar {
  width: 35px;
  padding-right: 10px;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-size: 14px;
  font-weight: 800;
}

@media (max-width: 275px) {
  .container {
    width: 280px;
  }
}